@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* ––––––––––––––––––––
       VARIABLES
  ––––––––––––––––––––– */

:root {
  /* Core palette */
  --vlgray: #f3f3f3;
  --gray: #8c8c8c;
  --black: #171717;

  /* Color tokens */
  --stroke-subtle: var(--gray);

  /* Padding */
  --p-xs: 0.75rem;
  --p-sm: 1rem;

  /* Margin */
  --m-m: 3rem;
  --m-l: 4rem;

  /* Width */
  --width: min(100% - calc(var(--p-sm) * 2), 64rem);
}

/* ––––––––––––––––––––
          RESET
  ––––––––––––––––––––– */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* ––––––––––––––––––––
        GLOBAL
  ––––––––––––––––––––– */

body {
  color: var(--black);
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--vlgray);
}

.overflow-x {
  overflow-x: auto;
}

/* ––––––––––––––––––––
      TYPOGRAPHY
  ––––––––––––––––––––– */

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-weight: 300;
}

h2,
h3 {
  font-weight: 500;
}

th {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 300;
}

td {
  font-size: 0.875rem;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--gray);
  text-underline-offset: 0.25em;
}

a,
a:visited {
  color: inherit;
}

.semibold {
  font-weight: 500;
}

code {
  display: inline-block;
  background-color: var(--vlgray);
  line-height: 1.5;
  padding-inline: 0.3em;
  border-radius: 0.3em;
}

/* ––––––––––––––––––––
        LAYOUT
  ––––––––––––––––––––– */

.wrapper {
  width: var(--width);
  margin-inline: auto;
}

.section {
  display: grid;
  padding-block: 1rem 2rem;
  gap: 2rem;
  border-block-start: 1px solid var(--stroke-subtle);
}

@media screen and (min-width: 1024px) {
  .section {
    grid-template-columns: 12rem 1fr;
  }
}

.h1-container {
  padding-block-end: 4rem;
}

.h1-container h1 {
  margin-block-start: 1.5rem;
}

.paragraph-card {
  background-color: white;
  padding: 1rem;
  margin-block-start: 2em;
  font-size: 0.875rem;

  & p + p {
    margin-block-start: 1em;
  }
}

.content-container ul {
  list-style-type: none;
  margin-block-start: 0.5em;
  margin-inline-start: 1em;
}

.content-container > p + p {
  margin-block-start: 1em;
}

@media screen and (min-width: 768px) {
  .content-container {
    column-count: 2;
  }
}

.h2-container h2 {
  text-wrap-style: balance;
}

.image-container {
  width: 100%;
  max-height: 60vh;
}

.image {
  height: 100%;
  object-fit: scale-down;
  object-position: left;
}

.table-container {
  flex: 1;
}

.table {
  table-layout: auto;
  width: 100%;
  padding: var(--p-xs);
  overflow-x: auto;
}

.table > tr + tr {
  border-block-start: 1px solid var(--stroke-subtle);
}

.table th,
.table td {
  padding-inline-start: 0.25rem;
  padding-inline-end: 2rem;
  padding-block-start: 0.5rem;
  padding-block-end: 2rem;
}

.swatch-row {
  height: 12vh;
}

.swatch-row th {
  display: flex;
}

.swatch {
  cursor: pointer;
}

.color-sample__list {
  display: flex;
  width: 100%;

  & div {
    height: 1.5vh;

    @media screen and (max-width: 768px) {
      height: 3vh;
    }
  }
}

footer {
  padding-block: 4rem;
  background-color: #ffffff;
  font-size: 0.875rem;
}

footer > * + * {
  margin-block-start: 2rem;
}

.footer-container {
  display: grid;
  gap: 1rem;
}
.footer-container ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-inline-start: var(--p-sm);
  line-height: 1.8;
}

@media screen and (min-width: 768px) {
  .footer-container {
    grid-template-columns: 12rem 1fr;
    gap: 2rem;
  }
}
