@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,100;1,200;1,300;1,400;1,500&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* ––––––––––––––––––––
       VARIABLES
  ––––––––––––––––––––– */

:root {
  /* Core palette */
  --vlgray: #f3f3f3;
  --lightgray: #cccccc;
  --gray: #8c8c8c;
  --black: #171717;

  /* Color tokens */
  --stroke-subtle: var(--gray);

  /* Font size */
  --fs-small: 0.875rem;

  /* Padding */
  --p-xs: 0.75rem;
  --p-sm: 1rem;

  /* Margin */
  --m-m: 3rem;
  --m-l: 4rem;

  /* Width */
  --width: min(100% - calc(var(--p-sm) * 2), 64rem);
}

/* ––––––––––––––––––––
          RESET
  ––––––––––––––––––––– */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* ––––––––––––––––––––
        GLOBAL
  ––––––––––––––––––––– */

html {
  color: var(--black);
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--vlgray);
}

.overflow-x {
  overflow-x: auto;
}

/* ––––––––––––––––––––
      TYPOGRAPHY
  ––––––––––––––––––––– */
h1,
h2,
h3,
h4 {
  text-wrap-style: balance;
}

h1 {
  font-family: "IBM Plex Mono";
  font-size: 4rem;
  line-height: 1;
  font-weight: 100;
  font-style: italic;
}

h2 {
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-family: "IBM Plex Mono";
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
}

th {
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
}

td {
  font-size: var(--fs-small);
}

a {
  text-decoration: underline;
  text-decoration-color: var(--gray);
  text-underline-offset: 0.25em;
}

a,
a:visited {
  color: inherit;
}

code {
  display: inline-block;
  background-color: var(--vlgray);
  line-height: 1.5;
  padding-inline: 0.3em;
  border-radius: 0.3em;
}

.semibold {
  font-weight: 500;
}

.fs-small {
  font-size: var(--fs-small);
}

/* ––––––––––––––––––––
        LAYOUT
  ––––––––––––––––––––– */

.wrapper {
  width: var(--width);
  margin-inline: auto;
}

.section {
  display: grid;
  padding-block: 1rem 2rem;
  gap: 2.5rem;
  border-block-start: 1px solid var(--stroke-subtle);
}

@media screen and (min-width: 1024px) {
  .section {
    grid-template-columns: 12rem 1fr;
  }
}

/* Heading containers */

.h1-container {
  padding-block: 3rem;
}

.h1-container h1 {
  margin-block-start: 1.5rem;
}

.h2-container > * + * {
  margin-block-start: 1.5rem;
}

/* Content columns */

.content-container {
  display: grid;
  gap: 2.5rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.content-column > p + p {
  margin-block-start: 1.5em;
}

.paragraph-card {
  background-color: white;
  padding-block: 1.5rem 2rem;
  padding-inline: 1rem;
  font-size: var(--fs-small);

  & > * + * {
    margin-block-start: 1.5em;
  }

  & ul {
    list-style-type: disc;
    margin-block-start: 0.75em;
    margin-inline-start: 1em;
    line-height: 1.75;
  }

  & li {
    padding-block: 0.2em;
    border-block-end: 1px solid var(--lightgray);
  }

  & li::marker {
    color: var(--lightgray);
  }
}

/* Image container */

.image-container {
  width: 100%;
  max-height: 60vh;
}

.image {
  height: 100%;
  object-fit: scale-down;
  object-position: left;
}

/* Table container */

.table-container {
  flex: 1;
}

.table {
  table-layout: auto;
  width: 100%;
  padding: var(--p-xs);
  overflow-x: auto;
}

.table > tr + tr {
  border-block-start: 1px solid var(--stroke-subtle);
}

.table th,
.table td {
  padding-inline-start: 0.25rem;
  padding-inline-end: 2rem;
  padding-block-start: 0.5rem;
  padding-block-end: 2rem;
}

/* Swatches row in table */

.swatch-row {
  height: 12vh;

  & th {
    display: flex;
  }
}

.swatch {
  position: relative;
  cursor: pointer;

  &:hover::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.45rem 0.75rem;
    font-size: 1rem;
    content: "\f0c5";
    font-family: "FontAwesome";
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 3rem;
  }

  &:active::before {
    background-color: rgba(0, 0, 0, 1);
  }

  &::after {
    width: 70%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    content: "Hex copied";
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 0.02em;
    line-height: 1.3;
    padding: 0.25rem 0.125rem;
    font-family: "IBM Plex Sans", sans-serif;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0.25rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  &.confirmation::after {
    opacity: 1;
  }
}

/* Palette ribbon */

.color-sample__list {
  display: flex;
  width: 100%;

  & div {
    height: 1.5vh;

    @media screen and (max-width: 768px) {
      height: 3vh;
    }
  }
}

/* Color moods section */

#color-moods.section {
  @media screen and (min-width: 768px) {
    grid-template-columns: 12rem 1fr;
    gap: 2.5rem;
  }
}
.colormood-wrapper > * + * {
  margin-block-start: 1.5rem;
}

.colormood-container {
  display: flex;
  width: 100%;

  & div {
    height: 8vh;

    @media screen and (max-width: 768px) {
      height: 6vh;
    }
  }
}

/* Footer */

footer {
  padding-block: 4rem;
  background-color: #ffffff;
  font-size: var(--fs-small);
}

footer > * + * {
  margin-block-start: 2rem;
}

.footer-container {
  display: grid;
  gap: 1.5rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: 12rem 1fr;
    gap: 2.5rem;
  }

  & ul {
    list-style-type: disc;
    padding-inline-start: var(--p-sm);
    line-height: 1.75;
  }
}
